.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.options {
  display: flex;
  align-items: middle;
  position: relative;
  margin-left: 3%;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.question-header {
  text-align: left;
  font-size: 20px;
  margin-left: 2%;
  margin-top: 40px;
}

.submit-button {
  margin-top: 2.5%;
  margin-bottom:2.5%;
  font-size: 40px;
  padding-left: 1%;
  padding-right: 1%;
  background: #1abc9c;
  color: white;
  margin-left: 25%;
}

.title{
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 50px;
}

.answer{
  margin-top: 2.5%;
  margin-bottom:2.5%;
  font-size: 40px;
  margin-left: 25%;
}

.submission-holder{
  display: flex;
}

.Correct{
  font-size: 15px;
  color: green;
}
.Wrong{
  font-size: 15px;
  color: red;
}